<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honey Encryption</title>
    <style>
        body {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Honey Encryption - Terminal Comes here</h1>

    <frameset cols="100%,55%" rows="100%,50%" >
      <frame src="http://localhost:57575/" noresize="noresize">
      <frame src="http://localhost:57575/">
    </frameset>
</body>
</html>